*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    margin: 0;
    background-color: #1a1a1a;
    
}

.Sphere{
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(135deg, #ff8a00, #e52e71);
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes FloorMove {
    from{
        transform: translateX(10%);
    }
    to{
        transform: translateX(-23.5%);
    }
}

.Floor{
    background-image:linear-gradient(to bottom, #20489a, #1a1a1a);
    animation: FloorMove 2s linear infinite;
    width: 200%;
    flex-grow: 1;
    border-top: 3px dotted #20489a;
    display: flex;
    justify-content: space-evenly;
    div{
        margin-top: -3px;
        width: 10px;
        height: 100%;
        background-image:linear-gradient(to bottom, white, transparent) ;
    }
}
